footer {
  background: #1b1c1d;
  font-family: "Poppins", sans-serif;
  color: #f1f1f1;
  padding: 3rem;
}
.footer-container {
  width: 100%;
}
@media screen and (min-width: 575px) {
  .footer-container {
    padding: 0 3rem;
  }
}

.footer-logo {
  width: 120px;
}

.footer-container-p2 {
  display: flex;
  flex-wrap: wrap;
}
.fct-inner-p2 {
    position: relative;
    width: 100%;
    padding: 1.5rem;
}
.fct-inner-p2 p{
    font-weight: 100 !important;
    color: #f1f1f1;
    margin-bottom: 0.8rem;
}
.fct-inner-p2 h4{
    font-weight: 400 !important;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}
@media screen and (min-width: 990px) {
  .fct-inner-p2 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.footer-container-p3{
    margin-top: 1rem;
}
